<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
 	<appSettings>
 		<!--Сервер по умолчанию -->
    <add key="DefaultServerName" value="(local)"/>
 		<!--Тип аунтификации по умолчанию -->
		<add key="DefaultIntegratedSecurity" value="true"/>
 		<!--Пользователь по умолчанию-->
		<add key="DefaultUser" value="sa"/>
		<!--Пароль по умолчанию-->
		<add key="DefaultPassword" value=""/>
    <!--База по умолчанию Tyulyakov_BUF_FOR_IMPORTER-->
    <add key="DefaultDataBaseName" value="I-LDS"/>
    <!--Импортер по умолчанию-->
    <add key="DefaultImporterName" value="Test"/>

    <add key="DefaultAction" value="importer"/>
  	</appSettings>
</configuration>